h1{color: blueviolet;
    margin-top: 0% !important;

}

#linha{
    border-left: solid 1px grey;

}

#video{
    width: 280px;
}

h2{
    color:blue;
}

h3{
    color: blue;
}

#img2{
    width: 30px;
}